@page "/login"
@layout HeadlessLayout
<PageTitle>Dima - Entrar</PageTitle>

<h1>Login</h1>
<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Elevation="3" Class="mud-width-full pa-8">
            <div class="d-flex justify-center">
                <img 
                     alt="Dima - Seu Controle Financeiro"
                     src="/imgs/dima.png" 
                     width="200"
                 />
            </div>
            Item1
        </MudPaper>
    </MudItem>
</MudGrid>