@page "/registrar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>Dima - Registrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Elevation="3" Class="mud-width-full pa-8">
            <div class="d-flex justify-center">
                <img alt="Dima - Seu Controle Financeiro"
                     src="/imgs/dima.png"
                     width="200" />
            </div>
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <MudTextField T="string"
                              InputType="InputType.Email"
                              Label="Email"
                              For="@(()=> InputModel.Email)"
                              @bind-Value="InputModel.Email" />

                <MudTextField T="string"
                              InputType="InputType.Password"
                              Label="Senha"
                              For="@(()=> InputModel.Password)"
                              @bind-Value="InputModel.Password" />
                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"></MudProgressCircular>

                    }
                    else
                    {

                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">REGISTRAR</MudButton>
                        <MudSpacer />
                        <MudButton Href="/login" Variant="Variant.Filled">JÁ TENHO UMA CONTA</MudButton>

                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>