@page "/categorias"
@inherits ListCategoriesPage
<MudText Typo="Typo.h3">Categorias</MudText>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.TwoTone.Add" Href="/categorias/adicionar">
        Nova Categoria
    </MudButton>
</div>
<MudDataGrid Items="@Categories" Class="pt-4" Filterable="true" QuickFilter="Filter" Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Categorias</MudText>
        <MudSpacer />
        <MudTextField 
                      @bind-Value="Search" 
                      Placeholder="Filtrar..." 
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">

        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Title" Title="Categoria" />
    </Columns>
</MudDataGrid>